@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face { 
  font-family: "Taipei Sans"; 
  src: url("../public/assets/TaipeiSansTCBetaLight.ttf"); 
  font-weight: 300;
} 
@font-face { 
  font-family: "Taipei Sans"; 
  src: url("../public/assets/TaipeiSansTCBetaRegular.ttf"); 
  font-weight: 400;
} 
@font-face { 
  font-family: "Taipei Sans"; 
  src: url("../public/assets/TaipeiSansTCBold.ttf"); 
  font-weight: 700;
}  */


body {
  background-color: rgb(255, 255, 255);
  color: rgba(42, 42, 42, 0.96);
  font-family: 'PingFangSC', sans-serif;
  /* @apply font-sans */
}

/* 普通引用的樣式 */.blockquote {

  @apply border-l-2 border-slate-500 px-2 my-8 italic
}

/* Callout 引用的樣式 */
.callout {
  background-color: #f7f7f7;
  @apply border border-gray-100 drop-shadow-[1px_1px_1px_rgba(0,0,0,0.55)]
}

.callout-title {
  /* background-color: #f7f7f7; */
  @apply p-2 flex items-center
}

.callout-icon {
  /* background-color: #f7f7f7; */
  @apply pr-2
}

.callout-content {
  background-color: #aeaeae39;
  @apply p-2
}
.remark-highlight {
  @apply drop-shadow-[2px_2px_2px_rgba(0,0,0,0.55)] my-4 
}
.language-js {
  /* @apply rounded-lg */
}


@layer base {
  article h1 {
    @apply text-3xl text-gray-400 font-bold mt-16
  }
  article h2 {
    @apply text-2xl text-gray-500 font-bold mt-12 
  }
  article h3 {
    @apply text-base font-bold text-gray-400 mt-6
  }
  article hr {
    /* color: aqua; */
    @apply my-4 border-gray-400 opacity-50
  }
  article p {
    @apply mb-4 text-sm
  }
  article ul {
    @apply list-disc ml-4 list-outside text-sm
  }
  article > ul {
    @apply  pl-0
  }
  article ol {
    @apply list-decimal list-inside text-sm
  }
  article code { 
    @apply bg-gray-200 text-red-500 px-0.5 rounded-sm text-sm
  }
  article pre code {
    @apply bg-[#1e1e1e]
  }
}