@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300&family=Oxygen+Mono&display=swap'); */
/* body {
  font-family: 'Oxygen Mono', monospace;
} */
body {
  background-color: rgb(25, 29, 44);
  color: rgba(255, 255, 255, 0.96);
  font-family: 'Georgia', serif;
  /* @apply font-serif */
}

/* 普通引用的樣式 */.blockquote {

  @apply border-l-2 border-slate-500 px-2 my-8
}

/* Callout 引用的樣式 */
.callout {
  /* background-color: #f7f7f7; */
  @apply border border-gray-800
}

.callout-title {
  /* background-color: #f7f7f7; */
  @apply p-2 flex items-center
}

.callout-icon {
  /* background-color: #f7f7f7; */
  @apply pr-2
}

.callout-content {
  background-color: #aeaeae39;
  @apply p-2
}
.remark-highlight {
  @apply drop-shadow-[3px_3px_3px_rgba(255,255,255,0.25)] my-4 
}
.language-js {
  /* @apply rounded-lg */
}


@layer base {
  article h1 {
    @apply text-3xl font-bold mt-8
  }
  article h2 {
    @apply text-2xl font-bold mt-4
  }
  article h3 {
    @apply text-xl font-bold mt-2
  }
  article hr {
    /* color: aqua; */
    @apply my-4 border-gray-400 opacity-50
  }
  article p {
    @apply my-4
  }
  article ul {
    @apply list-disc pl-6 list-inside
  }
  article > ul {
    @apply my-4 pl-0
  }
  article ol {
    @apply list-decimal list-inside
  }
}